<!DOCTYPE html>
<html lang = "pt-br">
  <head>
    <link href="/styles/style.css" rel="stylesheet">
    <link href="/styles/buttons.css" rel="stylesheet">
    <script src="/functions/exibirForm.js"></script>
  </head>
          <a id='teste' href='/'>
        
            <img class ='flipInf' src="images/jslogo.png" width = '300px' height= '300px'/>

          </a>
  
    <body>

      <div id = "formM">
			<form  action="numberPrime" id="form1" method ="post">
			<h1>Numero Primo</h1>
            Numero:<input type="text" name="txtNumber"/><br>
            <input type="submit" value="Enviar"/>
			</form>

        <form  action="somatorio" id="form2" method ="post">
			<h1>Somatorio</h1>
            Numeros:<input type="text" name="txtVetor"/><br>
            <input type="submit" value="Enviar"/>
            
			</form>
			
			<form  action="fibonacci" id="form3" method ="post">
			<h1>Fibonnaci</h1>
           	Fibo:<input type="text" name="txtFibo"/><br>
            <input type="submit" value="Enviar"/>
            
			</form>
			
			<form  action="mdc" id="form4" method ="post">
			<h1>Mdc</h1>
           	Primeiro Valor:<input type="text" name="txtPrim"/><br>
           	Segundo Valor:<input type="text" name="txtSegu"/><br>
            <input type="submit" value="Enviar"/>
            
			</form>
			
			<form  action="quicksort" id="form5" method ="post">
			<h1>Ordenação QuickShort</h1>
           	QuickShort:<input type="text" name="txtVetor"/><br>
            <input type="submit" value="Enviar"/>
            
			</form>
			
			<form  action="contagemInt" id="form6" method ="post">
			<h1>Contagem Inteiro</h1>
           	Contagem Inteiro:<input type="text" name="txtVetor"/><br>
            <input type="submit" value="Enviar"/>
  
			</form>

        <form  action="factorial" id="form7" method ="post">
			<h1>Fatorial</h1>
           	Fatorial:<input type="text" name="txtNumber"/><br>
            <input type="submit" value="Enviar"/>
  
			</form>

        <form  action="mmc" id="form8" method ="post">
			<h1>Fatorial</h1>
           	Numero 1:<input type="text" name="txtNumber"/><br>
          	Numero 2:<input type="text" name="txtNumber2"/><br>
            <input type="submit" value="Enviar"/>
  
			</form>

        <form  action="potenciadois" id="form9" method ="post">
			<h1>Potencia de Dois</h1>
           	Numero:<input type="text" name="txtNumber"/><br>
            <input type="submit" value="Enviar"/>
  
			</form>

        <form  action="squad" id="form10" method ="post">
			<h1>Raiz Quadrada</h1>
           	Numero:<input type="text" name="txtNumber"/><br>
            <input type="submit" value="Enviar"/>
  
			</form>
      </div>
      
      <div class = 'container'>

        <button onclick="deixarVisivel('form1')" class="contJs">Number Primo</button>
			  <button onclick="deixarVisivel('form2')" class="contJs">Somatorio</button>
			  <button onclick="deixarVisivel('form3')" class="contJs">Fibonnaci</button>
			  <button onclick="deixarVisivel('form4')" class="contJs">MDC</button>
			  <button onclick="deixarVisivel('form5')" class="contJs">QuickSort</button>
			  <button onclick="deixarVisivel('form6')" class="contJs">Contagem Inteiro</button>
        <button onclick="deixarVisivel('form7')" class="contJs">Fatorial</button>
        <button onclick="deixarVisivel('form8')" class="contJs">MMC</button>
        <button onclick="deixarVisivel('form9')" class="contJs">Potencia Dois</button>
        <button onclick="deixarVisivel('form10')" class="contJs">Raiz Quadrada</button>
      </div>
      
    </body>

</html>